<!doctype html>
<html lang="en">

<head>
  

    
    {% block styles %}

    {% endblock %}

</head>

<body  data-spy="scroll" data-offset="80">



     
{% block main %}

{% endblock %}


{% block scripts %}

{% endblock %}

</body>

</html>

