{% extends 'base.twig' %}


{% block styles %}

    
{% endblock %}
{% block main %}
 <!-- Banner -->
    <section id="iq-home" class="iq-banner-08 overview-block-pt grey-bg" style = "background-color:#17a2b830">
        <div class="container">
            <div class="banner-text">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="text-uppercase iq-font-blue iq-tw-3">Sistema de Ventas y Gestión de Inventario.</h1>
                         <h4 class="iq-font-blue iq-tw-3" iq-font-blue iq-tw-3">El sistema de gestión que tu empresa necesita.</h4>
                        <p class="iq-font-black iq-pt-15 iq-mb-40">Una correcta gestión de stock es imprescindible para el éxito de cualquier negocio. 
                            ¿Todavía lleva registros en papel o planillas? Haga crecer su negocio.
                        </p>
                        <a href="/contactus" class="button-blue-shadow iq-mt-20 iq-mr-20">Contáctenos</a>
                        {# <a href="javascript:void(0)" class="button-line-shadow iq-mt-20">Download</a> #}
                    </div>
                    <div class="col-lg-6">
                        <img class="banner-img" src="images/banner/home-logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="animations">
            <div class="animations-container">
                <div class="ani ani-6">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1024 1024">
                        <path id="followPath" d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z"></path>
                        <path id="dashedPath" d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z"></path>
                        <path id="airplain" d="M8.04 84L92 48 8.04 12 8 40l60 8-60 8z">
                            <animateMotion xlink:href="#airplain" dur="6s" fill="freeze" repeatCount="indefinite" rotate="auto">
                                <mpath xlink:href="#followPath"></mpath>
                            </animateMotion>
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End -->

 <!-- Main Content -->
    <div class="main-content">
        <!-- How it Works -->
        <section id="iq-features" class="overview-block-ptb it-works">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h3 class="title iq-tw-7">Diseñado para administrar de manera inteligente
                            el stock en pequeños y grandes almacenes.
                            </h3>
                            <p>Sistema web intuitivo y fácil de usar. Simple, rápido e innvovador. Flexible y Escalable.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-3">
                        <div class="iq-works-box text-center">
                            <div class=" text-center">
                                <img src="images/services/money.png" class="img-fluid" alt="#">
                            </div>
                            <h6 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">AHORRE DINERO</h6>
                            <p>
Optimizando tareas y procesos. Disminuye gastos por faltantes. Evite pérdidas y desapariciones costosas.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3 r-mt-40">
                        <div class="iq-works-box text-center">
                            <div class="text-center">
                                <img src="images/services/cashlist.png" class="img-fluid" alt="#">
                            </div>
                            <h6 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">TIEMPO REAL</h6>
                            <p>Información al instante de tu negocio en tiempo real y desde cualquier lugar. Reports  de ventas y estadísticas estés donde estés.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3 r-mt-40">
                        <div class="iq-works-box text-center">
                            <div class="text-center">
                                <img src="images/services/increes sale.png" class="img-fluid" alt="#"></div>
                            <h6 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">AUMENTE SUS VENTAS</h6>
                            <p>No pierda más ventas por faltantes de stock.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3 r-mt-40">
                        <div class="iq-works-box text-center">
                            <div class="text-center">
                                <img src="images/services/optimize.png" class="img-fluid" alt="#"></div>
                            <h6 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">RENDIMIENTO</h6>
                            <p>Mejore el rendimiento de su depósito. Aproveche espacios,organice mejor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How it Works END -->


 <!-- Who is Sofbox ? -->
        <section id="how-works" class="overview-block-ptb how-works">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="iq-tw-6 iq-mb-25">Conozca su negocio ?</h2>
                        <p class="iq-font-15">Tome mejores decsiones en base a estadistics y gráfico inteligentes.</p>
                        <p class="iq-font-15 iq-mt-20">Qué se vende más? Qué se vende menos?
                        Qué productos dejan mayor ganancia? Cuáles son los clientes más importantes?
                        Responda estas preguntas fácilmente.
                        </p>
                        <a id = "readmore" href="#great-features" class="button iq-mt-10">Leer más</a>
                    </div>
                    <div class="col-md-6">
                        <img class="iq-works-img" src="images/banner/back.png" alt="drive01">
                    </div>
                </div>
            </div>
            <div class="iq-objects">
                <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                        <img src="images/drive/03.png" alt="drive02">
                    </span>
                <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                        <img src="images/drive/04.png" alt="drive02">
                    </span>
                <span class="iq-objects-04 iq-fadebounce">
                        <span class="iq-round"></span>
                </span>
            </div>
        </section>
        <!-- Who is Sofbox ? END -->

                <!-- Software Features -->
        <section id="great-features" class="life-work-1 overview-block-pt iq-mt-50 software">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <img class="img-fluid" src="images/banner/Untitled.png" alt="drive05">
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <h2 class="iq-tw-6 iq-mt-70">Características</h2>
                        <p class="iq-font-15">iTodo lo que tu negocio necesita!</p>
                        <ul class="iq-mt-40 iq-list">
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Puntos de Venta.</span></li>
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Gestión de Inventario.</span></li>
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Gestión de Clientes y Proveedores.</span></li>
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Control de Caja.</span></li>
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Contizaciones.</span></li>
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Estadísticas.</span></li>
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Y mucho más!.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Software Features END -->
        <!-- Great Screenshots -->
        <section id="blog" class="overview-block-ptb iq-bg-over  iq-over-blue-80 iq-tool-feature  iq-font-white" style = "overflow:hidden">
            <div class="soft-about">
                <img class="box-img1 img-fluid wow fadeInUp" alt="" src="images/device/awesome-img1.png" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">
                <img class="box-img6 img-fluid wow fadeInUp" alt="" src="images/device/awesome-img6.png" data-wow-duration="2.5s" style="visibility: visible; animation-duration: 2.5s; animation-name: fadeInUp;">
                <img class="box-img3 img-fluid wow rotateIn" alt="" src="images/device/awesome-img3.png" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: rotateIn;">
                <img class="box-img4 img-fluid wow fadeInRight" alt="" src="images/device/awesome-img4.png" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
                <img class="box-img5 img-fluid wow rotateInUpRight" alt="" src="images/device/awesome-img5.png" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: rotateInUpRight;">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="iq-tw-6 iq-mt-100 iq-mb-20 iq-font-white">Multiplataforma</h2>
                        <p class="iq-font-15">Utilícelo en computadoras,tablets y smartphones</p>
                    </div>
                    <div class="col-lg-6 col-md-12 soft-about">
                    </div>
                </div>
            </div>
        </section>
        <!-- Great Screenshots END -->

         <!--================================
        Pricing  -->
    {# <section id="our-pricing" class="overview-block-pb our-pricing" style = "margin-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="heading-title text-center">
                        <h2 class="title iq-tw-6">Our Pricing</h2>
                        <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="iq-pricing-01 iq-ptb-40 white-bg">
                        <div class="pricing-header iq-mb-30">
                            <h6 class="iq-tw-6 iq-mb-10">Start Up</h6>
                            <h3 class="iq-tw-6">$1.99</h3>
                        </div>
                        <ul class="iq-mtb-30">
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-checkmark-round"></i>Photoshop</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-checkmark-round"></i>HTML5 &amp; CSS 5</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-close-round"></i>Wordpress</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-close-round"></i>Javascript</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-close-round"></i>Animation</li>
                        </ul>
                        <a class="button" href="javascript:void(0)">Purchase</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 iq-re-4-mt50">
                    <div class="iq-pricing-01 iq-ptb-40 active white-bg">
                        <div class="pricing-header iq-mb-30">
                            <h6 class="iq-tw-6 iq-mb-10">Professional</h6>
                            <h3 class="iq-tw-6">$4.99</h3>
                        </div>
                        <ul class="iq-mtb-30">
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-checkmark-round"></i>Photoshop</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-checkmark-round"></i>HTML5 &amp; CSS 5</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-close-round"></i>Wordpress</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-close-round"></i>Javascript</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-close-round"></i>Animation</li>
                        </ul>
                        <a class="button" href="javascript:void(0)">Purchase</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 iq-re-9-mt50">
                    <div class="iq-pricing-01 iq-ptb-40 white-bg">
                        <div class="pricing-header iq-mb-30">
                            <h6 class="iq-tw-6 iq-mb-10">Advanced</h6>
                            <h3 class="iq-tw-6">$9.99</h3>
                        </div>
                        <ul class="iq-mtb-30">
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-checkmark-round"></i>Photoshop</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-checkmark-round"></i>HTML5 &amp; CSS 5</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-close-round"></i>Wordpress</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-close-round"></i>Javascript</li>
                            <li class="iq-mtb-20"><i aria-hidden="true" class="iq-mr-10 ion-close-round"></i>Animation</li>
                        </ul>
                        <a class="button" href="javascript:void(0)">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </section> #}
    <!--================================
        Pricing  -->

         <section id="how-works" class="overview-block-pb dummy-from">
            <div class="container">
                <div class="row" style = "padding-top:30px">
                 <div class="col-lg-6">
                 <a href = "/contactus" >    
                      <img class="img-fluid" style = "cursor: pointer;" src = "/images/try-it-free.png"/>
                 </a>
                      
                    </div>
                    <div class="col-lg-6" style = "text-align: center;align-self: center;">
                         <h3 style = "color:#72cff4">Planes accesibles para todo tipo de negocio. Contáctenos! </h3>
                    </div>
                   
                </div>
            </div>
        </section>


   

 


{% endblock %}

{% block scripts %}
  
   
{% endblock %}